<div class="flex justify-center w-full mt-8 sm:mt-16 sm:items-center">
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'flex justify-center flex-1 w-full' }) do |f| %>
    <div class="flex-1 overflow-hidden border-b sm:max-w-xs sm:border sm:rounded-lg">
      <div class="px-6">
        <h2 class="my-6 text-xl font-bold text-center">Resend confirmation instructions</h2>

        <div class="mb-3 space-y-1">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>

      <%= render "devise/shared/links" %>

      <div class="px-6 py-4 mt-4 bg-gray-50">
        <%= f.submit "Resend confirmation", class: 'w-full' %>
      </div>
    </div>
  <% end %>
</div>
