<div class="flex justify-center w-full sm:items-center sm:min-h-screen">
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'flex justify-center flex-1 w-full'}) do |f| %>
    <div class="flex-1 overflow-hidden border-b sm:max-w-xs sm:border sm:rounded-lg">
      <div class="px-6">
        <h2 class="my-6 text-xl font-bold text-center">Log in</h2>

        <%= render 'devise/shared/omniauth_links' %>

        <div class="mb-3 space-y-1">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="mb-3 space-y-1">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-3 space-y-1">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>

      <%= render "devise/shared/links" %>

      <div class="px-6 py-4 mt-4 bg-gray-50">
        <%= f.submit "Log in", class: 'w-full' %>
      </div>
    </div>
  <% end %>
</div>
