<div class="flex justify-center w-full mt-8 sm:mt-16 sm:items-center">
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: 'flex justify-center flex-1 w-full' }) do |f| %>
    <div class="flex-1 overflow-hidden border-b sm:max-w-xs sm:border sm:rounded-lg">
      <div class="px-6">
        <h2 class="my-6 text-xl font-bold text-center"><%= t "devise.invitations.new.header" %></h2>

        <% resource.class.invite_key_fields.each do |field| -%>
          <div class="mb-3 space-y-1">
            <%= f.label field %><br />
            <%= f.text_field field %>
          </div>
        <% end -%>
      </div>

      <div class="px-6 py-4 mt-4 bg-gray-50">
        <%= f.submit t("devise.invitations.new.submit_button"), class: 'w-full' %>
      </div>
    </div>
  <% end %>
</div>
