<%% if notice.present? %>
<div class="sticky top-0 z-10 flex items-center justify-center w-full bg-green-50">
  <div id="notice" class="flex items-center flex-1 p-4 text-green-900 sm:gap-6 max-w-7xl">
    <div class="flex items-center flex-1 gap-4">
      <svg class="w-6 h-6 text-green-500" fill="currentColor" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      <span><%%= notice %></span>
    </div>

    <%%= button_tag class: "transition ease-out duration-150 p-2 mt-1 rounded-full hover:bg-green-100 flex items-center justify-center ml-2" do %>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    <%% end %>
  </div>
</div>
<%% end %>

<div class="sticky top-0 z-10 flex items-center justify-center w-full mb-2 bg-white sm:my-10">
  <div class="flex items-center justify-between flex-1 p-4 max-w-7xl">
    <h1 class="text-2xl font-bold sm:text-4xl"><%= plural_table_name.titleize %></h1>
    <%%= link_to new_<%= singular_route_name %>_path, class: "transition ease-out duration-150 p-2 mt-1 rounded-full bg-white hover:bg-gray-200 flex items-center justify-center ml-2"  do %>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
    <%% end %>
  </div>
</div>

<div class="flex flex-col sm:px-4 sm:mx-auto sm:max-w-7xl">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:shadow sm:px-6 lg:px-8">
      <div class="overflow-x-hidden border-t border-b border-gray-200 sm:overflow-hidden sm:shadow sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="sticky top-0 bg-gray-50">
            <tr>
              <% attributes.reject(&:password_digest?).each do |attribute| -%>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  <%= attribute.human_name %>
                </th>
              <% end -%>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Modify</span>
              </th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <%%= <%= singular_table_name %>.<%= attribute.column_name %> %>
                  </td>
                <% end -%>
                <td class="flex justify-end px-6 py-4 text-sm font-medium">
                  <div class="flex items-center flex-grow-0 flex-shrink-1 gap-4 whitespace-nowrap">
                    <%%= link_to 'Show', <%= model_resource_name %>, class: "text-gray-600 hover:text-gray-900" %>
                    <%%= link_to 'Edit', edit_<%= singular_route_name %>_path(<%= singular_table_name %>), class: "text-purple-600 hover:text-purple-900" %>
                    <%%= link_to 'Destroy', <%= model_resource_name %>, class: "text-red-600 hover:text-red-900", method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </td>
              </tr>
              <%% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

